//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _ScreenReader
//    _Keyboard
//      ∟SkipToMain
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _ScreenReaders
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Keyboard
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟SkipToMain
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

#skiptocontent > a{
    @include fontFamily(gotham, bold);
    @include transition;
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: 99;
    padding: 14px;
    font-size: em(14);
    color: is('white');
    background-color: is('red');
    border-bottom-right-radius: 6px;

    &:focus{
        top: 0;
    }
}


.header__top a:focus{
    font-weight: 500;
}

.accountLinks > div > a:focus,
.accountLinks > a:focus,
.cartLink a:focus > span{
    @include transition(none);
    color: is('white') !important;
    background-color: is('red') !important;
    box-shadow: 0 0 0 5px is('red');
}

.brandLogo a:focus img{
    box-shadow: 0 0 0 2px is('red');
}

.couponBar__linkCover:focus{
    box-shadow: 0 0 0 2px is('red') inset;
}