// Backup font to Gotham
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i');

$fonts:(
	gotham:(
        family:"Gotham A,Gotham B, 'Montserrat'",
        weights:(
            book   : 400,
            medium : 500,
            bold   : 700,
            black  : 800
        )
	),
);

@mixin fontFamily($family,$weight:regular,$style:default){
    font-family: #{map-get(map-get($fonts, $family), family)};
    font-weight: map-get(map-get(map-get($fonts, $family), weights), $weight);

    @if $style == italic{
		font-style: italic;
	}
    @else{
        font-style: normal;
    }
}

@mixin fontSize($fontSize,$lineHeight:null,$letterTracking:null){
	@if (str-index('#{$fontSize}', 'px')){
		font-size: #{$fontSize};
	}
	@else{
		font-size: em($fontSize);
	}

	@if $lineHeight != null{
		@if (str-index('#{$lineHeight}', 'px')){
			line-height: #{$lineHeight};
		}
		@else{
			line-height: em($lineHeight,$fontSize);
		}
	}

	@if $letterTracking != null{
		letter-spacing: tracking($letterTracking);
	}
}