<div class="page">
    <header class="page__header">
        <a href="#pageContent" class="screen-reader-text">Skip to main content</a>

        <div id="headerTopPane" class="header__top bg-gray-lighter tablet-only desktop-only" runat="server"></div>

        <div class="header__middle">
            <div class="contain-full clearfloat">
                <div id="headerPopoutNavPane" class="popoutNav" runat="server"></div>

                <div id="headerLogoPane" class="brandLogo" runat="server"></div>

                <div id="headerSearchPane" class="siteSearch" runat="server"></div>

                <div id="headerAccountLinksPane" class="accountLinks" runat="server"></div>

                <div id="headerCartPane" class="cartLink" runat="server"></div>
            </div>
        </div>

        <div id="headerMainNavPane" class="header__bottom bg-black" runat="server"></div>

        <div id="headerCouponPane" runat="server"></div>
    </header>

    <main id="pageContent" class="page__content" role="main">
        <div id="pagePane" runat="server"></div>
    </main>

    <footer class="page__footer">
        <div id="footerPane" runat="server"></div>
    </footer>

    <div class="page__overlay js-popoutNav_closer"></div>
</div>