.heroBanner__tagline .categoryBlurb {
    font-weight: 100;
    font-style: normal;
    
    /*color: #A8A8A8; */
  /*  padding: 20px;*/
    text-align: left;
}

.popover{
    background-color: gray;
}

.categoryBlurb span {
    color: #000;
    font-weight: 500;
    }

.heroBanner__tagline .mrmAd {
    padding: 30px;
}

.heroBanner__tagline .mrmAd a {
    font-weight: 100;
    font-style: normal;
    color: #909090;
    padding: 30px;
}

.fa-category{
    color: lightgray;
    
}

.contain .categoryBlurb{
    padding: 30px;
}

.categoryBanner{
    padding: 11px 20px 12px;
    margin-top: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: #F4F4F4;
    
}

.categoryBlurb p{
    font-weight: 100;
    font-style: normal;
    /*color: #A8A8A8;*/
    color: #585858;
  /*  padding: 20px;*/
    text-align: left;   
}

.categoryBlurbLink span{
    text-decoration: underline !important;
    /*color: #000;*/
    color: #585858;
    font-weight: 100;   
}

.categoryBlurbMobile p{
    text-align: justify;
    font-weight: 100;
    font-style: normal;
    /*color: #A8A8A8;*/
    color: #585858;
  /*  padding: 20px;*/
}

.categoryLinks__options-link .smallerFont{
    font-size: 15px;
}

/*.categoryLinksHover {
    color: #E50914 !important;
}
*/
/*.categoryBackgroundHover{
   background-color: #E50914 !important; 
}*/

/*.categoryLinks__options-link:hover{
    background-color: blue;
    
}*/

.categoryLinks .categoryBlurb{
    border-top: solid #d8d6d6 10px;
}
/*
.categoryLinks__options-item .categoryLinks__options-link .categoryLinks__options-link__image:hover {
    background-color: #E50914 !important; 
    color: #E50914;
}*/

.categoryLinks__options-item .categoryLinks__options-link:hover .categoryLinks__options-link__title{
    text-decoration: none !important;
    }

.categoryLinks__options-link:hover .categoryLinks__options-link__image--type-thumbnail,
.categoryLinks__options-link:hover .categoryLinks__options-link__image--type-icon {
    /*background-color: #E50914 !important*/
}    
    
/*.categoryLinks__options-link__image{
    background-color: yellow;
    color: red;
}

.categoryLinks__options-link__image .categoryLinks__options-link__image--type-thumbnail{
    background-color: blue;
    
}*/


.categoryCarousel__products{list-style:none; padding-right: 15px;}


.categoryCarousel__products .slick-controls li{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);top:50%;bottom:inherit}.categoryCarousel__products .slick-controls li:first-child{left:inherit;right:100%}.categoryCarousel__products .slick-controls li:nth-child(2){right:inherit;left:100%}.categoryCarousel__products .slick-prev,.categoryCarousel__products .slick-next{width:40px;height:40px;border:5px solid #ccc;box-shadow:none}.categoryCarousel__products .slick-prev:before,.categoryCarousel__products .slick-next:before{line-height:27px}.categoryCarousel__products .slick-prev:hover,.categoryCarousel__products .slick-prev:focus,.categoryCarousel__products .slick-next:hover,.categoryCarousel__products .slick-next:focus{border-color:#231F20}.categoryCarousel__products .slick-prev:focus,.categoryCarousel__products .slick-next:focus{background-color:#fff}.categoryCarousel__products .slick-prev:focus:before,.categoryCarousel__products .slick-next:focus:before{color:#E50914}.categoryCarousel__products .slick-slide{padding:0 20px !important}.categoryCarousel__products-item{position:relative}.categoryCarousel__products-item:not(:first-child){display:none}.categoryCarousel__products-item--new:before,.categoryCarousel__products-item--blick-brand:before,.categoryCarousel__products-item--exclusive:before{-webkit-transform:skewY(-10deg);-ms-transform:skewY(-10deg);-o-transform:skewY(-10deg);-moz-transform:skewY(-10deg);transform:skewY(-10deg);font-family:Gotham A,Gotham B, 'Montserrat';font-weight:700;font-style:normal;font-size:.75em;position:absolute;top:10px;left:10px;width:63px;height:26px;color:#fff;text-align:center;background-color:#E50914;z-index:4;box-sizing:border-box}.categoryCarousel__products-item--new:before{content:"NEW";padding-top:7px}.categoryCarousel__products-item--blick-brand:before{content:"BLICK \A BRAND";padding-top:1px;white-space:pre}.categoryCarousel__products-item--exclusive:before{content:"EXCLUSIVE";padding-top:8.5px;font-size:.5625em;background-color:#231F20}.categoryCarousel__products-item:hover .categoryCarousel__product-image:before{-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}.categoryCarousel__products-item:hover .categoryCarousel__product-image:after{opacity:1}.categoryCarousel__products-link:focus .categoryCarousel__product-image:before{-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}.categoryCarousel__products-link:focus .categoryCarousel__product-image:after{opacity:1}.categoryCarousel__product{text-align:center}.categoryCarousel__product-image{position:relative;height:190px;text-align:center}.categoryCarousel__product-image:before{-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;content:'';position:absolute;top:50%;left:50%;width:105px;height:105px;margin-top:-52.5px;margin-left:-52.5px;background-color:rgba(255,255,255,0.83);border:3px solid #fff;border-radius:50%;box-sizing:border-box;box-shadow:0 0 15px rgba(0,0,0,0.25);z-index:4}.categoryCarousel__product-image:after{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:700;font-style:normal;font-size:1em;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);content:'view';position:absolute;top:50%;left:50%;color:#E50914;text-transform:uppercase;opacity:0;z-index:4}.categoryCarousel__product-image img{-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);position:absolute;top:50%;left:50%;max-width:100%;max-height:100%}.categoryCarousel__product-title{min-height:44px;margin-top:19px;font-weight:500;color:#231F20}.categoryCarousel__product-title+p{margin-top:10px}.categoryCarousel__product-alert{font-size:.875em}.categoryCarousel__product-rating{display:block;list-style:none;margin-top:17px}.categoryCarousel__product-rating-star{display:inline-block}.categoryCarousel__product-rating-star:not(:last-child){margin-right:1px}.categoryCarousel__product-rating-star:before{content:url("./SkinSource/Images/ui/icon-star-empty.svg")}.categoryCarousel__product-rating[data-rating="1"] .categoryCarousel__product-rating-star:nth-child(-n+1):before{content:url("./SkinSource/Images/ui/icon-star-full.svg")}.categoryCarousel__product-rating[data-rating="2"] .categoryCarousel__product-rating-star:nth-child(-n+2):before{content:url("./SkinSource/Images/ui/icon-star-full.svg")}.categoryCarousel__product-rating[data-rating="3"] .categoryCarousel__product-rating-star:nth-child(-n+3):before{content:url("./SkinSource/Images/ui/icon-star-full.svg")}.categoryCarousel__product-rating[data-rating="4"] .categoryCarousel__product-rating-star:nth-child(-n+4):before{content:url("./SkinSource/Images/ui/icon-star-full.svg")}.categoryCarousel__product-rating[data-rating="5"] .categoryCarousel__product-rating-star:nth-child(-n+5):before{content:url("./SkinSource/Images/ui/icon-star-full.svg")}@media screen and (max-width: 1024px){.categoryCarousel__products{padding-left:40px;padding-right:40px}.categoryCarousel__products .slick-controls li:first-child{right:inherit;left:0}.categoryCarousel__products .slick-controls li:last-child{left:inherit;right:0}}@media screen and (min-width: 320px) and (max-width: 600px){.categoryCarousel .contain{padding-left:0px;padding-right:0px}.categoryCarousel__products{padding-left:0px;padding-right:0px}.categoryCarousel__products-item>a{display:block;margin-top:10px;margin-bottom:10px;box-shadow:0 0 5px rgba(0,0,0,0.1)}.categoryCarousel__product{padding-top:22px;padding-bottom:15px}.categoryCarousel__product-alert{padding:5px 11px;font-size:.6875em}.categoryCarousel__product-title+p{margin-top:0px}.categoryCarousel__product-image{height:113px}.categoryCarousel__product-image:before,.categoryCarousel__product-image:after{display:none}.categoryCarousel__product-rating{margin-top:13px}}@media print{.categoryCarousel{page-break-before:always}.categoryCarousel .slick-track{width:100% !important;-webkit-transform:none !important;-ms-transform:none !important;-o-transform:none !important;-moz-transform:none !important;transform:none !important}.categoryCarousel__products-item{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);-moz-transform:scale(0.8);transform:scale(0.8);width:33.3333% !important;height:260px !important;box-sizing:border-box;page-break-inside:avoid}}




.categoryMediaBlocks:after{content:"";display:table;clear:both}.categoryMediaBlocks ul{list-style:none}.categoryMediaBlocks__block{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;width:calc(50% - 10px);float:left;margin-right:20px;position:relative;height:375px}.categoryMediaBlocks__block:nth-child(2n){margin-right:0}.categoryMediaBlocks__block:nth-child(2n+1){clear:left}.categoryMediaBlocks__block:nth-child(2) ~ *{margin-top:20px}@media (max-width: 767px){.categoryMediaBlocks__block{width:calc(100% - 0px)}.categoryMediaBlocks__block:nth-child(n){margin-right:10px;clear:none}.categoryMediaBlocks__block:nth-child(1n){margin-right:0}.categoryMediaBlocks__block:nth-child(1n+1){clear:both}.categoryMediaBlocks__block:nth-child(1) ~ *{margin-top:10px}}.categoryMediaBlocks__block-button{-webkit-transition:background-color .2s ease;-moz-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease;position:absolute;bottom:20px;left:20px;width:calc(100% - 40px);box-sizing:border-box;background-color:rgba(255,255,255,0.85);border:3px solid #fff;box-shadow:0 0 15px rgba(0,0,0,0.35);cursor:pointer}.categoryMediaBlocks__block-button__link{display:block;padding:25px 30px 25px 40px;box-sizing:border-box}.categoryMediaBlocks__block-button__link:focus{background-color:#fff}.categoryMediaBlocks__block-button__link:focus:before{width:32px;background-color:#E50914}.categoryMediaBlocks__block-button__link:focus .categoryMediaBlocks__block-button__link-arrow{right:9px;color:#fff}.categoryMediaBlocks__block-button__link:before{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;content:'';position:absolute;top:-3px;right:-3px;width:22px;height:100%;padding-top:3px;padding-bottom:3px;background-color:#fff}.categoryMediaBlocks__block-button__link-arrow{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;position:absolute;top:50%;right:4px;font-size:12px !important;color:#E50914}.categoryMediaBlocks__block-button__link-title{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:500;font-style:normal;font-size:1.625em;line-height:1.3230769231em;color:#231F20}@media screen and (max-width: 1024px){.categoryMediaBlocks__block-button__link-title{font-size:1.3125em;line-height:1.2771428571em;letter-spacing:-.015em}}@media screen and (max-width: 414px){.categoryMediaBlocks__block-button__link-title{font-size:1.0625em;line-height:1.2829411765em}}.categoryMediaBlocks__block-button__link-desc{margin-top:5px;color:#727779}.categoryMediaBlocks__block-button__video-play{-webkit-transition:background-color .2s ease;-moz-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease;position:absolute;top:0;left:0;width:102px;height:100%;background-color:#A2A9AD}.categoryMediaBlocks__block-button__video-play button{margin-top:21px;margin-left:22px}.categoryMediaBlocks__block-button__video-play button:focus{box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset}.categoryMediaBlocks__block-button__video-meta{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%;right:0;width:calc(100% - 102px);padding-left:25px;padding-right:25px;box-sizing:border-box}.categoryMediaBlocks__block-button__video-meta-title{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:500;font-style:normal;font-size:1.125em;line-height:1.2444444444em;color:#231F20}.categoryMediaBlocks__block-button__video-meta-timestamp{margin-top:4px;color:#E50914}.categoryMediaBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock.svg);display:inline-block;margin-right:10px;vertical-align:text-top}.categoryMediaBlocks__block-button:hover,.categoryMediaBlocks__block-button:focus{background-color:#fff}.categoryMediaBlocks__block-button:hover .categoryMediaBlocks__block-button__link:before,.categoryMediaBlocks__block-button:focus .categoryMediaBlocks__block-button__link:before{width:32px;background-color:#A2A9AD}.categoryMediaBlocks__block-button:hover .categoryMediaBlocks__block-button__link-arrow,.categoryMediaBlocks__block-button:focus .categoryMediaBlocks__block-button__link-arrow{right:9px;color:#fff}.categoryMediaBlocks__block-button:hover .categoryMediaBlocks__block-button__video-play,.categoryMediaBlocks__block-button:focus .categoryMediaBlocks__block-button__video-play{background-color:#231F20}.categoryMediaBlocks__block--type-video .categoryMediaBlocks__block-button{height:102px}

@media screen and (max-width: 1024px){.categoryMediaBlocks__block{height:300px}.categoryMediaBlocks__block-button__link{padding:15px 30px 15px 20px}.categoryMediaBlocks__block-button__link-desc{font-size:.8125em;line-height:1.1038461538em}.categoryMediaBlocks__block-button__video-play{width:80px}.categoryMediaBlocks__block-button__video-play button{height:43px;width:43px;margin-top:16px;margin-left:18px}.categoryMediaBlocks__block-button__video-meta{width:calc(100% - 80px);padding-left:20px;padding-right:20px}.categoryMediaBlocks__block-button__video-meta-title{font-size:.9375em;line-height:1.2973333333em}.categoryMediaBlocks__block-button__video-meta-timestamp{font-size:.8125em}.categoryMediaBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock-sm.svg);position:relative;top:1px;margin-right:6px}.categoryMediaBlocks__block--type-video .categoryMediaBlocks__block-button{height:80px}}

@media screen and (min-width: 768px) and (max-width: 880px){.categoryMediaBlocks__block-button__video-play{width:0}.categoryMediaBlocks__block-button__video-play button{margin-left:-21px}.categoryMediaBlocks__block-button__video-meta{width:calc(100% - 21px)}.categoryMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}}

@media screen and (max-width: 768px){.categoryMediaBlocks__block{height:217px}.categoryMediaBlocks__block-button{bottom:10px;left:10px;width:calc(100% - 20px)}.categoryMediaBlocks__block-button__video-play{width:64px}.categoryMediaBlocks__block-button__video-play button{margin-top:9px;margin-left:10px}.categoryMediaBlocks__block-button__video-meta{width:calc(100% - 64px);padding-left:15px;padding-right:15px}.categoryMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}.categoryMediaBlocks__block-button__video-meta-timestamp{display:none}.categoryMediaBlocks__block--type-video .categoryMediaBlocks__block-button{height:66px}}

@media screen and (max-width: 414px)/*{.categoryMediaBlocks{background-color:transparent}*/}

@media print{.categoryMediaBlocks{display:none !important}}



/*#category-content{*/
/*	display: none;*/
/*}*/

#category-content {
	/*width: 50%;*/
	/*background: #fff;*/
	/*padding: 20px;*/
	/*font-family: Sans-Serif;*/
	/*font-size: 18px;*/
	/*color: #444;*/
	/*margin: 0 auto;*/
	max-height: 450px;
	overflow: hidden;
	/* Set Transitions */
	transition: max-height 0.7s;
}

#category-content.open {
	max-height: 100%;
	/* Set transitions */
	transition: max-height 0.7s;
}

#show-more-button {
	 /*width: 100%;*/
	/*background: #1594e5;*/
	/*color: #fff;*/
	/*font-family: sans-serif;*/
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	/*margin: 10px auto;*/
    font-size: .875em;
    padding: 17px 33px;
}



#show-videos-button {
	 /*width: 100%;*/
	/*background: #1594e5;*/
	/*color: #fff;*/
	/*font-family: sans-serif;*/
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	margin: 10px auto !important;
    font-size: .875em;
    padding: 17px 33px;
}


@media (max-width: 414px){
.open {
    margin-top: 10px !important;
}}

@media screen and (max-width: 414px){
#show-more-button {
    display: block;
    width: 100%;}}

@media screen and (max-width: 414px){
#show-videos-button {
    display: block;
    width: 100%;}}	
	
	

#more-content-cutoff{
	margin-top: 10px;
}

#more-videos-cutoff{
	margin-top: 10px;
}

.more-videos{
	display: none !important;
}

.more-content{
	display: none !important;
}

.show-more:hover, .show-more:focus {
    color: #A2A9AD;
    background-color: #fff;
	
	
	
	
	
	
	