<div id="headerAccountLinksPane" class="accountLinks" runat="server">
    <div class="accountLinks__menu-hover header__middle-link" aria-expanded="false" aria-controls="accountMenu">
        <a href="#">
            My Account

            <i class="accountLinks__account-icon tablet-only mobile-only">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.44" height="30.44" viewBox="0 0 30.44 30.44">
                    <title>icon-myaccount</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <g id="Page-1">
                                <g id="Icons">
                                    <g id="Profile">
                                        <path id="Path" d="M29.94,15.22A14.72,14.72,0,1,1,15.22.5,14.72,14.72,0,0,1,29.94,15.22Z" fill="#f4f4f4"/>
                                        <path id="Path-2" data-name="Path" d="M29.94,15.22A14.72,14.72,0,1,1,15.22.5,14.72,14.72,0,0,1,29.94,15.22Z" fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path id="Path-3" data-name="Path" d="M10.84,23.58,6.45,26a4.57,4.57,0,0,0-.71.51,14.72,14.72,0,0,0,18.9.05,3.72,3.72,0,0,0-.77-.52l-4.71-2.36a1.79,1.79,0,0,1-1-1.6V20.2a6.71,6.71,0,0,0,.45-.57,10.91,10.91,0,0,0,1.46-2.94,1.49,1.49,0,0,0,1.05-1.41v-2a1.48,1.48,0,0,0-.5-1.09V9.37s.59-4.43-5.41-4.43S9.8,9.37,9.8,9.37v2.85a1.47,1.47,0,0,0-.49,1.09v2A1.47,1.47,0,0,0,10,16.52a9.73,9.73,0,0,0,1.78,3.68V22a1.81,1.81,0,0,1-.93,1.58Z" fill="#fff" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </i>
        </a>

        <ul id="accountMenu" class="accountLinks__menu bg-white" role="dialog" tabindex="-1">
            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="button-red margin-y-sm">Sign In</a>
            </li>

            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="accountLinks__menu-link" title="Create Account">Create Account</a>
            </li>

            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="accountLinks__menu-link" title="View Orders">View Orders</a>
            </li>

            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="accountLinks__menu-link" title="Wishlist">Wishlist</a>
            </li>

            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="accountLinks__menu-link" title="Link">Lorem Ipsum</a>
            </li>

            <li class="accountLinks__menu-item" tabindex="-1">
                <a tabindex="-1" href="#" class="accountLinks__menu-link" title="Link">Dolor Sit Amet</a>
            </li>
        </ul>
    </div>

    <a href="#" class="header__middle-link desktop-only">
        Orders
    </a>

    <a href="#" class="header__middle-link accountLinks__menu-locations tablet-only mobile-only">
        <i class="accountLinks__locations-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.58" height="30.44" viewBox="0 0 21.58 30.44">
                <title>icon-locations</title>
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <g>
                            <path id="Fill-2106" d="M10.89,15.19a4.5,4.5,0,1,1,4.5-4.5,4.49,4.49,0,0,1-4.5,4.5M18.07,3.51h0a10.31,10.31,0,0,0-14.56,0h0C-.11,7.13-.51,14,2.56,18.05l8.23,11.89L19,18.05c3.07-4.1,2.67-10.92-.95-14.54" fill="#f4f4f4"/>
                            <path id="Fill-2106-2" data-name="Fill-2106" d="M10.89,15.19a4.5,4.5,0,1,1,4.5-4.5,4.49,4.49,0,0,1-4.5,4.5M18.07,3.51h0a10.31,10.31,0,0,0-14.56,0h0C-.11,7.13-.51,14,2.56,18.05l8.23,11.89L19,18.05c3.07-4.1,2.67-10.92-.95-14.54" fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </g>
                </g>
            </svg>
        </i>
    </a>
</div>