.mainNav{
    @mixin mainNavLinkStyle{
        @include fontFamily(gotham, medium);
        @include transition;
        display: inline-block;
        padding: 15px 20px;
        font-size: em(14);
        color: #e5e9ea;
        text-transform: uppercase;

        &:hover,
        &:focus{
            color: is('white');
            background-color: is('red');
            text-decoration: none;
        }
    }

    &__menu{
        width: 100%;
        text-align: center;

        &-item{
            display: inline-block;
            vertical-align: middle;

            > a, > a:visited{
                color: is('white');
            }
        }

        &-link{
            @include mainNavLinkStyle;
            position: relative;
            vertical-align: top;
        }
    }

    &__dump{
        @include transition((max-height: 0.2s, padding: 0.2s, z-index: 0s 0.2s));
        position: absolute;
        top: 100%;
        right: 0;
        z-index: z(behind);
        max-height: 0;
        width: 171px;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        background-color: is('white');
        border-bottom: 0 solid is('black');
        overflow: hidden;

        &-hover{
            position: absolute;
            top: 0;
            right: 30px;
            display: none;
            height: 44px;

            &:hover,
            &:focus{
                .mainNav__dump{
                    @include transition((max-height: 0.2s, padding: 0.2s, z-index: 0s));
                    z-index: z(element, dropdown);
                    max-height: 250px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-width: 5px;

                    &-hover-link{
                        color: is('white');
                        background-color: is('red');
                        text-decoration: none;


                        &:after{
                            bottom: 0;
                        }
                    }
                }
            }

            &-link{
                @include fontFamily(gotham, medium);
                @include mainNavLinkStyle;
                position: relative;
                width: 171px;
                padding-top: 22px;
                padding-bottom: 22px;
                box-sizing: border-box;
                overflow: hidden;
                cursor: default;

                &.mainNav__menu-link{
                    cursor: pointer;

                    &:visited{
                        color: is("white");
                    }
                }


                &:after{
                    @include prefixes('transform', translateX(-50%));
                    @include transition;
                    content:'';
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid is('white');
                }
            }
        }

        &-item{
            display: none;

            &:not(:first-child){
                margin-top: 11px;
            }

            > a, > a:visited{
                color: is('gray-dark');
            }
        }

        &-link{
            @include fontFamily(gotham, book);
            @include fontSize(14, 18);
            @include transition(color);
            display: block;
            text-align: center;

            &:hover,
            &:focus{
                color: is('red');
                text-decoration: none;
            }
        }
    }

    &__submenu{
        @extend %clearfix;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        width: 100%;
        padding: 35px 100px 64px;
        box-sizing: border-box;
        background-color: is('white');
        border-bottom: 5px solid is('black');
        z-index: z(element, dropdown);
        text-align: left;

        &.open{
            display: block !important;
        }

        &-hover{
            &:hover,
            &:focus{
                .mainNav__menu-link{
                    color: is('white');
                    background-color: is('red');
                    text-decoration: none;

                    &:focus{
                        + .mainNav__submenu{
                            display: block !important;
                        }
                    }

                    &:after{
                        bottom: 0;
                    }
                }
            }

            .mainNav__menu-link{
                overflow: hidden;

                &:after{
                    @include prefixes('transform', translateX(-50%));
                    @include transition;
                    content:'';
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid is('white');
                }
            }
        }

        &-column{
            @include grid(4, 10px, 20px, (1120: 3));

            > a:not(.promoBlock){
                color: is('black');
            }

            > a:not(.promoBlock):visited:hover{
                color: is('red');
            }
        }

        &-heading{
            @include fontSize(18, 21.2);
            font-weight: 500;
            color: is('black');
            text-transform: none;

            + .mainNav__submenu-items{
                margin-top: 14px;
            }
        }

        &-items{
            margin-top: 34px;
        }

        &-item{
            &:not(:first-child){
                margin-top: 11px;
            }

            > a{
                color: is('gray-dark');
            }
        }

        &-link{
            @include fontFamily(gotham, book);
            @include fontSize(14, 18);
            @include transition(color);
            color: is('gray-dark');

            &:hover,
            &:focus,
            &:visited:hover{
                color: is('red');
                text-decoration: none;
            }


            &--standalone{
                padding-bottom: 2px;
                font-size: em(12);
                font-weight: 500;
                color: is('black');
                text-transform: uppercase;
                display: table;
                border-bottom: 1px solid is('black');

                &:hover,
                &:focus{
                    border-color: is('red');
                }

                + *{
                    margin-top: 6px;
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(2100){
    .mainNav{
        &__menu{

            &-item{
                &:last-child{
                    display:none;
                }
            }
        }

        &__dump{

            &-hover{
                display: inline-block;
            }

            &-item{
                &:last-child{
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(2060){
    .mainNav{
        &__menu{

            &-item{
                &:nth-last-child(2){
                    display:none;
                }
            }
        }

        &__dump{

            &-hover{
                display: inline-block;
            }

            &-item{
                &:nth-last-child(2){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1870){
    .mainNav{
        &__menu{

            &-item{
                &:nth-last-child(3){
                    display:none;
                }
            }
        }

        &__dump{

            &-hover{
                display: inline-block;
            }

            &-item{
                &:nth-last-child(3){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1780){
    .mainNav{
        &__menu{

            &-item{
                &:nth-last-child(4){
                    display:none;
                }
            }
        }

        &__dump{

            &-hover{
                display: inline-block;
            }

            &-item{
                &:nth-last-child(4){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1650){
    .mainNav{
        &__menu{
            width: calc(100% - 131px);
            margin-left: -20px;

            &-item{
                &:nth-last-child(5){
                    display:none;
                }
            }
        }

        &__dump{

            &-item{
                &:nth-last-child(5){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1370){
    .mainNav{
        &__menu{
            width: calc(100% - 131px);
            margin-left: -20px;

            &-item{
                &:nth-last-child(6){
                    display:none;
                }
            }
        }

        &__dump{

            &-item{
                &:nth-last-child(6){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(computer){
    .mainNav{

        &__submenu{
            padding: 35px 0px 64px;
        }
    }
}


@include breakpoint(1250){
    .mainNav{
        &__menu{
            &-item{
                &:nth-last-child(7){
                    display: none;
                }
            }
        }

        &__dump{
            &-item{
                &:nth-last-child(7){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1150){
    .mainNav{
        &__menu{
            &-item{
                &:nth-last-child(8){
                    display: none;
                }
            }
        }

        &__dump{
            &-item{
                &:nth-last-child(8){
                    display: block;
                }
            }
        }
    }
}

@include breakpoint(1150){
    .mainNav{
        &__submenu{

            &-column{
                &:nth-child(4){
                    display: none;
                }
            }
        }
    }
}

@include breakpoint(1024){
    .mainNav{
        &__menu{
            &-link{
                padding: 15px 18px;
            }
        }
    }

}

@include breakpoint(980){
    .mainNav{
        display: none;

        &__submenu{
            display: none !important;
        }
    }

}
//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .header__bottom{
            border-top: 2px solid is('black');
            border-bottom: 2px solid is('black');
            background-color: is('white');
        }

        .mainNav{
            &__menu{
                &-item{
                    > a, > a:visited{
                        color: is('black');
                    }
                }

                &-link{
                    padding: 10px;
                }
            }
        }
    }

//────────────────────────────────────────────────────┘