//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _Input
//    _Dropdown
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Input
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.siteSearch{
    width: calc(100% - 751px);
    float: left;

    &__container{
        position: relative;
        margin-top: 26px;
    }

    &__instructions{
        @include fontFamily(gotham, bold);
        @include fontSize(12, 14);
        position: absolute;
        bottom: 100%;
        left: 35px;
        display: none;
        padding: 5px;
        margin-bottom: 4px;
        color: is('red');
        background-color: is('white');
        border: 1px solid is('red');
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 3px 10px rgba(#000, 0.2);
    }

    &__input,
    .unbxd_q{
        @include fontFamily(gotham, book);
        @include placeholderColor(is('black'));
        @include transition(border-radius);
        display: block;
        width: 100%;
        padding: 11px 50px 11px 30px;
        font-size: em(16);
        color: is('black');
        box-sizing: border-box;
        border: 1px solid is('gray-light');
        border-radius: 30px;
        background-color: is('gray-lighter');

        &.has-results{
            border-bottom-left-radius: 0;
        }

        &:valid{
            + .siteSearch__instructions{
                display: inline-block;
            }
        }
    }

    &__button{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:focus{
            background-image: url('./SkinSource/Images/ui/icon-search-o-inverted.svg');
            background-repeat: no-repeat;

            img{
                opacity: 0;
            }
        }
    }

    &__submit{
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid is('gray-light');
        border-radius: 50%;
        background-color: is('white');
        background-image: url('./SkinSource/Images/ui/icon-search.svg');
        background-repeat: no-repeat;
        background-position: 7px 50%;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .siteSearch{
        width: calc(100% - 446px);

        &__container{
            margin-top: 16px;
        }
    }
}

@include breakpoint(980){
    .siteSearch{
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        background-color: is('black');

        &__container{
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &__input,
        .unbxd_q{
            background-color: is('white');

            &:valid{
                border-bottom-left-radius: 30px;
            }
        }
    }
}

@include breakpoint(767){
    .siteSearch{
        background-color: #f5f6f7;
    }
}

@include breakpoint(tablet-portrait){
    .siteSearch{
        &__container{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .siteSearch{
            display:none;
        }
    }


//────────────────────────────────────────────────────┘


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Dropdown
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.unbxd-as{
    &-wrapper{
        position: absolute;
        z-index: z(element, popup);
        width: calc(100% - 870px);
        min-width: 845px;
        background-color: is('white');
        box-sizing: border-box;
        box-shadow: 0 5px 10px rgba(#000, 0.2);

        &[style*="width"]{
            height: 770px;
            border-bottom: 5px solid is('black');
        }
    }

    &-sidecontent,
    &-maincontent{
        position: absolute;
        top: 0;
        height: 100%;
        list-style: none;
    }

    &-sidecontent{
        @extend %clearfix;
        right: 0;
        width: calc(100% - 266px);
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 19px;
        overflow-y: auto;
    }

    &-header{
        @include fontFamily(gotham, medium);
        @include fontSize(16);
        padding-left: 10px;
        padding-right: 10px;
        color: is('black');


        > a{
            @include fontFamily(gotham, book);
            @include fontSize(12, 14.4);
            @include transition(color, border-color);
            padding-bottom: 2px;
            margin-top: 1px;
            float: right;
            color: is('gray');
            border-bottom: 1px solid is('gray');

            &:hover,
            &:focus{
                color: is('red');
                border-color: is('red');
            }
        }
    }

    &-header{
        @include fontSize(16, 21.2);
        clear:both;
    }

    &-popular-product{
        float: left;
        width: calc(33.3333333333% - 20px);
        margin-top: 22px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;

        &:hover,
        &:focus{
            .unbxd-as-popular-product-image-container{
                &:before{
                    @include prefixes('transform', 'scale(1)');
                }

                &:after{
                    opacity: 1;
                }
            }
        }

        &-image-container{
            position: relative;
            height: 147px;
            text-align: center;

            img{
                @include prefixes('transform', 'translate(-50%, -50%)');
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
            }

            &:before{
                @include prefixes('transform', 'scale(0)');
                @include transition;
                content:'';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 64px;
                height: 64px;
                margin-top: -32px;
                margin-left: -32px;
                background-color: rgba(is('white'), 0.83);
                border: 3px solid rgba(is('white'), 1);
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 15px rgba(#000, 0.25);
                z-index: z(element, overlay);

            }

            &:after{
                @include fontFamily(gotham, bold);
                @include fontSize(12);
                @include transition;
                @include prefixes('transform', 'translate(-50%, -50%)');
                content: 'view';
                position: absolute;
                top: 50%;
                left: 50%;
                color: is('red');
                text-transform: uppercase;
                opacity: 0;
                z-index: z(element, overlay);
            }
        }

        &-info{
            text-align: center;
        }

        &-name{
            @include fontFamily(gotham, book);
            @include fontSize(14, 18);
            height: 32px;
            margin-top: 10px;
            color: is('gray-dark');
        }

        &-price{
            @include fontFamily(gotham, book);
            @include fontSize(12);
            margin-top: 8px;
            color: #000;
        }
    }

    &-maincontent{
        left: 0;
        width: 265px;
        border-right: 1px solid is('gray-light');

        .unbxd-as-header{
            padding: 20px 30px 12px;

            &:not(:first-child){
                margin-top: 30px;
                border-top: 1px solid is('gray-light');
            }
        }
    }

    &-keysuggestion{
        @include fontFamily(gotham, book);
        @include fontSize(14, 18, -20);
        @include transition(color);
        padding-left: 30px;
        padding-right: 30px;
        color: is('gray-dark');
        text-transform: capitalize;
        cursor: pointer;


        strong{
            @include fontFamily(gotham, medium);
            @include transition(color);
            color: is('black');
        }

        &:not(:last-child){
            margin-bottom: 8px;
        }

        &:hover,
        &:focus{
            color: is('red');

            strong{
                color: is('red');
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(1800){
    .unbxd-as{
        &-popular-product{
             &-name{
                height: 54px;
             }
        }
    }
}

@include breakpoint(1270){
    .unbxd-as{
        &-wrapper{
            min-width: 665px;
        }
        &-popular-product{
            width: calc(50% - 20px);
        }
    }
}

@include breakpoint(980){
    .unbxd-as{
        &-wrapper{
            max-width: 866px;
            min-width:initial;
            width: calc(100% - 100px);
        }
    }
}


@include breakpoint(tablet-portrait){
    .unbxd-as{
        &-wrapper{
            width: calc(100% - 40px);
        }

        &-header > a{
            float: none;
            display: block;
            margin-top: 10px;
        }

        &-popular-product{
            width: calc(100% - 20px);
        }
    }
}

@include breakpoint(600){
    .unbxd-as{
        &-maincontent{
            width:100%;
        }

        &-sidecontent{
            display:none;
        }
    }
}
//────────────────────────────────────────────────────┘
