<div class="unbxdSearchResults" style="display: none; top: 102px; left: 386px">
    <div class="unbxdSearchResults__side">
        <ul class="unbxdSearchResults__suggestions">
            <li class="unbxdSearchResults__suggestions-category">
                <h4 class="unbxdSearchResults__heading">Categories and Brands</h4>

                <ul class="unbxdSearchResults__suggestions-category__results">
                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link"><strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Watercolor Brushes">Watercolor <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Paint Brushes">Paint <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Princeton Brushes">Princeton <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Acrylic Brushes">Acrylic <strong>Brushes</strong></a>
                    </li>
                </ul>
            </li>

            <li class="unbxdSearchResults__suggestions-category">
                <h4 class="unbxdSearchResults__heading">Popular Products</h4>

                <ul class="unbxdSearchResults__suggestions-category__results">
                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Brusho Crystal Colors">Brusho Crystal Colors</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Tombow Dual Brush Pens">Tombow Dual Brush Pens</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Prismacolor Brush Markers">Prismacolor Brush Markers</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Pentel Brush Pens">Pentel Brush Pens</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Touch Twin Brush Markers">Touch Twin Brush Markers</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Winsor & Newton Brushmarkers">Winsor & Newton Brushmarkers</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Kuretake Brush Pen">Kuretake Brush Pen</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Winsor & Newton Series 7">Winsor & Newton Series 7 <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Princeton Neptune">Princeton Neptune <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Series 7 Brushes">Series 7 <strong>Brushes</strong></a>
                    </li>
                </ul>
            </li>

            <li class="unbxdSearchResults__suggestions-category">
                <h4 class="unbxdSearchResults__heading">Related Searches</h4>

                <ul class="unbxdSearchResults__suggestions-category__results">
                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Brusho">Brusho</a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Scholastic Brushes">Scholastic <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Utrecht Brushes">Utrecht <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Lettering Brushes">Lettering <strong>Brushes</strong></a>
                    </li>

                    <li class="unbxdSearchResults__suggestions-category__results-item">
                        <a href="" class="unbxdSearchResults__suggestions-category__results-link" title="Striping Brushes">Striping <strong>Brushes</strong></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="unbxdSearchResults__main">
        <div class="unbxdSearchResults__main-header">
            <h4 class="unbxdSearchResults__main-header__heading unbxdSearchResults__heading">Related Products</h4>
            <a href="#" class="unbxdSearchResults__main-header__link" title="See All Results">See All Results (260)</a>
        </div>

        <ul class="unbxdSearchResults__main-results">
            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Princeton Neptune Synthetic Squirrel Brush Set">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/synthetic-brush-set.jpg" alt="Princeton Neptune Synthetic Squirrel Brush Set">
                        </figure>

                        <p class="searchItem__product-title">Princeton Neptune Synthetic Squirrel...</p>

                        <p class="searchItem__product-price">$3.62 - $43.99</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Prismacolor Premier Double-Ended Brush Markers">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/double-ended-markers.jpg" alt="Prismacolor Premier Double-Ended Brush Markers">
                        </figure>

                        <p class="searchItem__product-title">Prismacolor Premier Double-Ended Brush...</p>

                        <p class="searchItem__product-price">$3.62 - $43.99</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Blick Studio Brush Markers and Sets">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/brush-and-markers-set.jpg" alt="Blick Studio Brush Markers and Sets">
                        </figure>

                        <p class="searchItem__product-title">Blick Studio Brush Markers and Sets</p>

                        <p class="searchItem__product-price">$2.98 - $199.16</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Tombow Dual brush Pens and Sets">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/brush-pens.png" alt="Tombow Dual brush Pens and Sets">
                        </figure>

                        <p class="searchItem__product-title">Tombow Dual brush Pens and Sets</p>

                        <p class="searchItem__product-price">$2.49 - $140.12</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Prismacolor Premier Brush Set">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/large-brush-set.jpg" alt="Prismacolor Premier Brush Set">
                        </figure>

                        <p class="searchItem__product-title">Prismacolor Premier Brush Set</p>

                        <p class="searchItem__product-price">$78.27</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Silver Brush Black Velvet Brushes">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/velvet-brushes.jpg" alt="Silver Brush Black Velvet Brushes">
                        </figure>

                        <p class="searchItem__product-title">Silver Brush Black Velvet Brushes</p>

                        <p class="searchItem__product-price">$5.14 - $57.66</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Princeton Neptune Synthetic Squirrel Marker">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/teal-marker.jpg" alt="Princeton Neptune Synthetic Squirrel Marker">
                        </figure>

                        <p class="searchItem__product-title">Princeton Neptune Synthetic Squirrel...</p>

                        <p class="searchItem__product-price">$3.62 - $43.99</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Prismacolor Premier Double-Ended Brush Markers">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/premier-marker-set.jpg" alt="Prismacolor Premier Double-Ended Brush Markers">
                        </figure>

                        <p class="searchItem__product-title">Prismacolor Premier Double-Ended Brush...</p>

                        <p class="searchItem__product-price">$3.62 - $43.99</p>
                    </article>
                </a>
            </li>

            <li class="unbxdSearchResults__main-results-item">
                <a href="#" class="searchItem" title="Blick Studio Brush Markets and Sets">
                    <article class="searchItem__product">
                        <figure class="searchItem__product-image">
                            <img src="../SkinSource/Images/products/studio-brush-set.jpg" alt="Blick Studio Brush Markets and Sets">
                        </figure>

                        <p class="searchItem__product-title">Blick Studio Brush Markets and Sets</p>

                        <p class="searchItem__product-price">$2.98 - $199.16</p>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</div>