<div id="headerTopPane" class="header__top bg-gray-lighter tablet-only desktop-only" runat="server">
    <div class="contain">
        <p class="header__top-message">The best art supplies, at the best discounts!</p>

        <nav class="header__top-nav desktop-only">
            <ul class="header__top-nav-menu">
                <li class="header__top-nav-menu-item">
                    <a href="#" class="header__top-nav-menu-link" title="Clearance">Clearance</a>
                </li>

                <li class="header__top-nav-menu-item">
                    <a href="#" class="header__top-nav-menu-link" title="Deals">Deals</a>
                </li>
            </ul>

            <ul class="header__top-nav-menu">
                <li class="header__top-nav-menu-item">
                    <a href="#" class="header__top-nav-menu-link" title="Find a Store">Find a Store</a>
                </li>

                <li class="header__top-nav-menu-item">
                    <a href="#" class="header__top-nav-menu-link" title="For Educators">For Educators</a>
                </li>

                <li class="header__top-nav-menu-item">
                    <a href="#" class="header__top-nav-menu-link" title="Learning Resources">Learning Resources</a>
                </li>
            </ul>

            <ul class="header__top-nav-menu">
                <li class="header__top-nav-menu-item">
                    <a href="tel:+18008284548" class="header__top-nav-menu-link" title="Give us a call!">
                        <i class="header__top-nav-menu-link__icon" aira-hidden="true">
                            <img src="../SkinSource/Images/ui/icon-phone.svg" alt="Blick Phone">
                        </i>

                        <span>(800) 828-4548</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>