$breakpoints:(
	computer         : 1200px,
	tablet-landscape : 1024px,
	tablet-portrait  : 768px,
	large-phone      : 414px,
	average-phone    : 375px,
	small-phone      : 320px
);

@mixin breakpoint($breakpoint, $relativity:max){
	@if map-has-key($breakpoints, $breakpoint){
		@media screen and (#{$relativity}-width: map-get($breakpoints, $breakpoint)){
			@content;
		}
	}
	@else{
		@media screen and (#{$relativity}-width:$breakpoint * 1px){
			@content;
		}
	}
}

@mixin between($min-breakpoint,$max-breakpoint){
	@if map-has-key($breakpoints, $min-breakpoint){
		$min-breakpoint:map-get($breakpoints, $min-breakpoint);
	}
	@else{
		$min-breakpoint:$min-breakpoint * 1px;
	}

	@if map-has-key($breakpoints, $max-breakpoint){
		$max-breakpoint:map-get($breakpoints, $max-breakpoint);
	}
	@else{
		$max-breakpoint:$max-breakpoint * 1px;
	}

	@media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint){
		@content;
	}
}


// ════ⓝⓞⓣⓔ════
// Prevent Mobile Orientation from Adjusting Font Size

@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}


.desktop-only,
.tablet-only,
.mobile-only{
	display: none;
}


@include breakpoint(1025, min){
	.desktop-only{
		display: block;
	}
}

@include between(415, tablet-landscape){
	.tablet-only{
		display: block;
	}
}

@include breakpoint(large-phone){
	.mobile-only{
		display: block;
	}
}