.breadcrumbs{
    margin-bottom: 30px;

    .contain{
        max-width: 1398px;
    }

    &__wrapper{
        background-color: is(gray-darker);
        padding: 13px 30px 14px;
    }

    &__list{
        display: inline-block;
        list-style: none;

        &-item{
            position: relative;
            display: inline-block;

            &:not(:last-child){
                padding-right: 26px;

                &:after{
                    content: '\f054';
                    position: absolute;
                    top: 50%;
                    right: 6px;
                    font-family: FontAwesome;
                    font-size: 10px;
                    color: is('white');
                    margin-top: -4px;
                }
            }

            a{
                @include transition;
                font-size: em(14);
                color: is('white');

                &:hover{
                    color: is('gray');
                }

                &:focus,
                &:active{
                    color: is('red');
                }
            }
        }
    }
}


//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(980){
    .breadcrumbs{
        margin-bottom: 20px;

        .contain{
            padding: 0;
        }

        &__list{

            &-item{
                &:not(:last-child){
                    display: none;
                }

                &:last-child{
                    padding-left: 26px;

                    &:before{
                        content: '\f053';
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        font-family: FontAwesome;
                        font-size: 14px;
                        color: is('white');
                        margin-top: -6px;
                    }

                    a{
                        font-size: em(18);
                        font-weight: 500;
                    }
                }
            }
        }

        &__refineResults{
            display: block;
            float: right;
        }
    }
}

@include breakpoint(600){
    .breadcrumbs {
        margin-bottom: 0px;
        
        .contain{
            padding: 0px;
        }

        &__list-item{

            &:last-child{

                &:before{
                    font-size: 10px;
                    margin-top: -4px;
                }

                a{
                    font-size: em(14);
                }
            }
        }
    }
}


@include breakpoint(500){
    .breadcrumbs {

        &__list{
            float: left;
            width: calc(100% - 100px);
        }

        &__refineResults{
            float: right;
        }
    }
}

//────────────────────────────────────────────────────┘