.categoryBlurb{
    &__options{
        @extend %clearfix;
        list-style: none;

        &-item{
            text-align: center;

            @include breakpoint(415, min){
                @include grid(5, 70px, 40px, (1024:(5, 60px, 40px), 980:(4, 60px, 40px), 767:(3, 60px, 40px)));
            }
        }

        &-link{
            &__image{
                @include transition(background-color);
                position: relative;
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
                background-color: darken(is('gray-lighter'), 4);

                img{
                    @include prefixes('transform', 'translateX(-50%) translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: auto;
                    height: auto;
                }

                &--type{
                    &-thumbnail{
                        img{
                            max-width: 180px;
                            max-height: 180px;
                        }
                    }

                    &-icon{
                        img{
                            max-width: 75px;
                            max-height: 75px;
                        }
                    }
                }
            }

            &__title{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(18, 24);
                position: relative;
                margin-top: 20px;
                color: is('black');

                // &:after{
                //     @include transition;
                //     @include prefixes(transform, scale(0));
                //     content: '';
                //     position: absolute;
                //     top: 110%;
                //     left: 0;
                //     width: 100%;
                //     height: 2px;
                //     background-color: is('black');
                // }
            }

            &:hover{
                .categoryBlurb__options-link{
                    &__image{
                        &--type{
                            &-thumbnail,
                            &-icon{
                                background-color: rgba(darken(is('gray-lighter'), 4), 0.4) !important;
                            }

                            // &-icon{
                            //     background-color: is('red');
                            // }
                        }
                    }

                    &__title{
                        text-decoration: underline !important;
                        // &:after{
                        //     @include prefixes(transform, scale(1));
                        // }
                    }
                }
            }

            &:focus{
                .categoryBlurb__options-link{
                    &__image{
                        &--type{
                            &-thumbnail{
                                background-color: is('red');
                            }

                            &-icon{
                                background-color: is('red');
                            }
                        }
                    }

                    &__title{
                        text-decoration: underline !important;
                        color: is('red');
                    }
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .categoryBlurb{
        &__options{
            &-link{
                &__image{
                    width: 138px;
                    height: 138px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 155px;
                                max-height: 155px;
                            }
                        }
                    }
                }

                &__title{
                    font-size: em(17);
                }
            }
        }
    }
}

@include breakpoint(600){
    .categoryBlurb{
        &__options{
            &-link{
                &__image{
                    width: 80px;
                    height: 80px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 90px;
                                max-height: 90px;
                            }
                        }

                        &-icon{
                            img{
                                max-width: 50px;
                                max-height: 50px;
                            }
                        }
                    }
                }

                &__title{
                    @include fontSize(12, 14.4);
                    margin-top: 10px;
                }
            }
        }
    }

    @include breakpoint(large-phone){
        .categoryBlurb{
            &__options{
                width: calc(100% + 20px);
                padding-top: 10px;
                margin-left: -10px;
                white-space: nowrap;
                overflow: auto;

                &-item{
                    display: inline-block;
                    width: 100px;

                    &:first-child{
                        margin-left: 10px;
                    }

                    &:last-child{
                        margin-right: 10px;
                    }
                }
            }

            .section__header{
                &-link{
                    display: none;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .categoryBlurb{
            // page-break-before: always;
            page-break-inside: avoid;

            &.desktop-only{
                display: block !important;
            }

            &__options-item{
                @include grid(3, 20px, 20px);
            }

            &__options-link__image{
                width: 100px;
                height: 100px;

                &--type-thumbnail img{
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
    }

//────────────────────────────────────────────────────┘

$breakpoints:(
	computer         : 1200px,
	tablet-landscape : 1024px,
	tablet-portrait  : 768px,
	large-phone      : 414px,
	average-phone    : 375px,
	small-phone      : 320px
);

@mixin breakpoint($breakpoint, $relativity:max){
	@if map-has-key($breakpoints, $breakpoint){
		@media screen and (#{$relativity}-width: map-get($breakpoints, $breakpoint)){
			@content;
		}
	}
	@else{
		@media screen and (#{$relativity}-width:$breakpoint * 1px){
			@content;
		}
	}
}

@mixin between($min-breakpoint,$max-breakpoint){
	@if map-has-key($breakpoints, $min-breakpoint){
		$min-breakpoint:map-get($breakpoints, $min-breakpoint);
	}
	@else{
		$min-breakpoint:$min-breakpoint * 1px;
	}

	@if map-has-key($breakpoints, $max-breakpoint){
		$max-breakpoint:map-get($breakpoints, $max-breakpoint);
	}
	@else{
		$max-breakpoint:$max-breakpoint * 1px;
	}

	@media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint){
		@content;
	}
}


// ════ⓝⓞⓣⓔ════
// Prevent Mobile Orientation from Adjusting Font Size

@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}


.desktop-only,
.tablet-only,
.mobile-only{
	display: none;
}


@include breakpoint(1025, min){
	.desktop-only{
		display: block;
	}
}

@include between(415, tablet-landscape){
	.tablet-only{
		display: block;
	}
}

@include breakpoint(large-phone){
	.mobile-only{
		display: block;
	}
}

