.rewardsHistory{
    &__wrapper{
        padding: 19px;
    }

    &__table{

        &-row{
            @extend %clearfix;
            border-bottom: 1px solid is(gray-light);

            &:last-child{
                border-bottom: 0px;
            }

            &--column{
                float:left;
                min-height: 60px;
                padding: 19px 30px;
                border-right: 1px solid is(gray-light);
                box-sizing: border-box;

                p{
                    font-size: em(14);
                    color: #73787a;
                }

                &:first-child{
                    width: 17%;
                }

                &:nth-child(2){
                    width: 45%;
                }

                &:nth-child(3),
                &:nth-child(4){
                    width: 19%;
                }

                &:last-child{
                    border-right: 0px;
                }
            }

            &--headings{
                border-bottom: 0px;

                .rewardsHistory__table-row--column{
                    padding: 30px;


                    &:last-child{
                        border-right: 0px;
                    }
                }

                p{
                    @include fontFamily(gotham, medium);
                    @include fontSize(14);
                    color: is('black');
                }
            }
        }
    }

    &__showMore,
    &__showLess{
        min-width: inherit;
        width: 100%;
        padding: 20px 0;
        display: none;
        font-size: em(14);
    }

//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(960){
        &__table{
            &-row{
                &:nth-child(even){
                    background-color: is('gray-lighter');
                }

                &--headings{
                    display: none;
                }

                &--column{
                    position: relative;
                    padding: 36px 30px 19px;
                    border-right: 0px;
                    border-left: 1px solid is('gray-light');

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        width: 50%;
                    }

                    &:nth-child(odd){
                        border-left: 0px;
                    }



                    &:before{
                        content: attr(data-title) ':';
                        @include fontFamily(gotham, medium);
                        @include fontSize(14);
                        color: is('black');
                        position: absolute;
                        top: 0;
                        left: 0;
                        width:100%;
                        padding: 8px 0 8px 30px;
                        box-sizing: border-box;
                        // background-color: is('gray-lighter');
                        text-transform: capitalize;

                    }
                }
            }
        }
    }

    @include breakpoint(600){
        &__table{

            &-row{
                &:nth-child(even){
                    background-color: inherit;
                }

                &--column{
                    float: none;
                    border: 0px;
                    padding: 3px 0 3px 92px;
                    min-height: inherit;

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        width: 100%;
                    }

                    &:nth-child(4):before{
                        content: 'Total: ';
                    }

                    &:before{
                        padding: 4px 0 4px 20px;
                    }

                }
            }
        }

        &__showMore{
            display: block;
        }
    }

    @include breakpoint(large-phone){
        &__wrapper{
            padding: 0px;
        }
        &__table{
            border: 0px;

            &-row{
                padding: 13px 0;
            }
        }
    }


//────────────────────────────────────────────────────┘
}