<section role="departments" class="departmentLinks section margin-top-lg margin-top-md-tablet padding-bottom-xl padding-bottom-lg-tablet padding-bottom-md-mobile desktop-only tablet-only">
    <div class="contain-less">
        <header class="section__header margin-bottom-sm-mobile">
            <h2 class="section__header-heading">Shop by Category</h2>
         <!--   <a href="#" class="section__header-link">View All</a> -->
        </header>

        <ul class="departmentLinks__options">
            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Paint">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-paint.png" alt="Paint">
                    </figure>

                    <p class="departmentLinks__options-link__title">Drawing & Sketching Pencils</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Canvas">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-canvas.png" alt="Canvas">
                    </figure>

                    <p class="departmentLinks__options-link__title">Canvas</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Brushes">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-brushes.png" alt="Brushes">
                    </figure>

                    <p class="departmentLinks__options-link__title">Brushes</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Framing">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-frames.png" alt="Framing">
                    </figure>

                    <p class="departmentLinks__options-link__title">Framing</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Drawing">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-drawing.png" alt="Drawing">
                    </figure>

                    <p class="departmentLinks__options-link__title">Drawing</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Paper">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-paper.png" alt="Paper">
                    </figure>

                    <p class="departmentLinks__options-link__title">Paper</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Furniture">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-furniture.png" alt="Furniture">
                    </figure>

                    <p class="departmentLinks__options-link__title">Furniture</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Presentation">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-presentation.png" alt="Presentation">
                    </figure>

                    <p class="departmentLinks__options-link__title">Presentation</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Pastels">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-pastels.png" alt="Pastels">
                    </figure>

                    <p class="departmentLinks__options-link__title">Pastels</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Crafts">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-crafts.png" alt="Crafts">
                    </figure>

                    <p class="departmentLinks__options-link__title">Crafts</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Sculpture">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-sculpture.png" alt="Sculpture">
                    </figure>

                    <p class="departmentLinks__options-link__title">Sculpture</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Adhesives">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-adhesives.png" alt="Adhesives">
                    </figure>

                    <p class="departmentLinks__options-link__title">Adhesives</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Screen Printing">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-thumbnail">
                        <img src="../SkinSource/Images/departments/thumbnail-screen-printing.png" alt="Screen Printing">
                    </figure>

                    <p class="departmentLinks__options-link__title">Screen Printing</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Seasonal">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-icon">
                        <img src="../SkinSource/Images/departments/icon-seasonal.svg" alt="Seasonal">
                    </figure>

                    <p class="departmentLinks__options-link__title">Seasonal</p>
                </a>
            </li>

            <li class="departmentLinks__options-item">
                <a href="#" class="departmentLinks__options-link" title="Clearance">
                    <figure class="departmentLinks__options-link__image departmentLinks__options-link__image--type-icon">
                        <img src="../SkinSource/Images/departments/icon-clearance.svg" alt="Clearance">
                    </figure>

                    <p class="departmentLinks__options-link__title">Clearance</p>
                </a>
            </li>
        </ul>
    </div>
</section>