<section role="calltoactionblocks" class="ctaBlocks section bg-gray-lighter padding-y-md padding-y-null-mobile border-top-gray-light border-bottom-gray-light">
    <div class="contain">
        <a href="#" class="ctaBlocks__block" style="background-color: #E50914" title="Learn More About Us!">
            <div class="ctaBlocks__block-text">
                <p class="ctaBlocks__block-text__heading">100+ Years In Business</p>
                <p class="ctaBlocks__block-text__message">Learn About Blick</p>
            </div>

            <div class="ctaBlocks__block-image">
                <img src="../SkinSource/Images/misc/infographic-years-in-business.svg">
            </div>
        </a>

        <a href="#" target="_blank" class="ctaBlocks__block" style="background-color: #19846F" title="Request a Catalog">
            <div class="ctaBlocks__block-text">
                <p class="ctaBlocks__block-text__heading">Request A Catalog</p>
                <p class="ctaBlocks__block-text__message">Download Now</p>
            </div>

            <div class="ctaBlocks__block-image">
                <img src="../SkinSource/Images/misc/thumbnail-blick-magazines.png">
            </div>
        </a>

        <a href="#" target="_blank" class="ctaBlocks__block" style="background-color: #1976D2" title="Browse Our Customer Reviews">
            <div class="ctaBlocks__block-text">
                <p class="ctaBlocks__block-text__heading">4.8 Google Customer Rating</p>
                <p class="ctaBlocks__block-text__message">14,733 Reviews</p>
            </div>

            <div class="ctaBlocks__block-image">
                <img src="../SkinSource/Images/misc/infographic-google-rating.svg">
            </div>
        </a>
    </div>
</section>