<section role="program-details" class="programDetails section margin-y-xl">
    <div class="contain-less">
        <header class="section__header margin-bottom-sm-mobile">
            <h2 class="section__heading">
                Program Details
            </h2>
        </header>

        <ul class="programDetails__list">
            <li class="programDetails__list-item">
                <p id="slick-slide00" class="programDetails__list-item--heading">Earn lorem ipsum dolor</p>
                <p class="programDetails__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
            </li>
            <li class="programDetails__list-item">
                <p id="slick-slide01" class="programDetails__list-item--heading">get a adipsicins elit</p>
                <p class="programDetails__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
            </li>
            <li class="programDetails__list-item">
                <p id="slick-slide02" class="programDetails__list-item--heading">Exclusive access veniam nis</p>
                <p class="programDetails__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
            </li>
            <li class="programDetails__list-item">
                <p id="slick-slide03" class="programDetails__list-item--heading">special euisomod enim ad</p>
                <p class="programDetails__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
            </li>
        </ul>
    </div>
</section>