<section role="rewards-points-history" class="rewardsHistory section bg-gray-lighter padding-y-lg">
    <div class="contain-less">

        <header class="section__header margin-bottom-md">
            <h2 class="section__header-heading">Reward Points History</h2>
        </header>

        <div class="rewardsHistory__wrapper bg-white">
            <div class="rewardsHistory__table border-gray-light">
                <div class="rewardsHistory__table-row rewardsHistory__table-row--headings bg-gray-lighter">
                    <div class="rewardsHistory__table-row--column">
                        <p>Date</p>
                    </div>
                    <div class="rewardsHistory__table-row--column">
                        <p>Activity</p>
                    </div>
                    <div class="rewardsHistory__table-row--column">
                        <p>Points</p>
                    </div>
                    <div class="rewardsHistory__table-row--column">
                        <p>Total Points</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>05/08/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>Redeem for $5 Rewards Certificate</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>-200</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>250</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>05/04/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>Web Order #547852489632574</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>50</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>450</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>04/28/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>In-Store Purchase</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>400</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>400</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>05/08/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>Redeem for $5 Rewards Certificate</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>-200</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>250</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>05/04/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>Web Order #547852489632574</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>50</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>450</p>
                    </div>
                </div>

                <div class="rewardsHistory__table-row">
                    <div class="rewardsHistory__table-row--column" data-title="date">
                        <p>04/28/2018</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="activity">
                        <p>In-Store Purchase</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="points">
                        <p>400</p>
                    </div>
                    <div class="rewardsHistory__table-row--column" data-title="total points">
                        <p>400</p>
                    </div>
                </div>
            </div>
            <button class="rewardsHistory__showMore button-gray">+ show more</button>
        </div>
    </div>
</section>