<section role="subcategories" class="subCategories section">
    <div class="contain">
        <div class="subCategories__header">
            <div class="subCategories__header-left">
                <p class="subCategories__heading">Shop 175 Products</p>
            </div>
            <div class="subCategories__header-right">
                <button type="button" class="subCategories__header-btn js-subCategories-header-btn" data-display="list">
                    <i class="icon-list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                            <rect width="25" height="5"/>
                            <rect y="10" width="25" height="5"/>
                            <rect y="20" width="25" height="5"/>
                        </svg>
                    </i>
                </button>
                <button type="button" class="subCategories__header-btn js-subCategories-header-btn" data-display="detail">
                    <i class="icon-detail">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                            <rect width="5" height="5"/><rect x="9" width="18" height="5"/>
                            <rect y="10.05" width="5" height="5"/><rect x="9" y="10.05" width="18" height="5"/>
                            <rect y="20.09" width="5" height="5"/><rect x="9" y="20.09" width="18" height="5"/>
                        </svg>
                    </i>
                </button>
                <button type="button" class="subCategories__header-btn subCategories__header-btn--active js-subCategories-header-btn" data-display="grid">
                    <i class="icon-tile">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                            <rect width="5" height="5"/><rect x="10" width="5" height="5"/><rect x="20" width="5" height="5"/>
                            <rect y="10" width="5" height="5"/><rect x="10" y="10" width="5" height="5"/><rect x="20" y="10" width="5" height="5"/>
                            <rect y="20" width="5" height="5"/><rect x="10" y="20" width="5" height="5"/><rect x="20" y="20" width="5" height="5"/>
                        </svg>
                    </i>
                </button>
            </div>
        </div>
        <div class="subCategories__body clearfloat js-subCategories-body">
            <div class="subCategories__body-leftArea">
                <div class="filterBlock">
                    <div class="filterBlock__header">
                        <p class="subCategories__heading subCategories__heading--bold">Refine Results</p>
                        <button type="button" class="filterBlock__link filterBlock__link--gray filterBlock__link--clearFilter">Clear Filter</button>
                    </div>
                    <ul class="filterBlock__body">
                        <li class="filterBlock__item filterBlock__item--selected">
                            <a href="#artist-grade-colored-pencils" class="filterBlock__item--link">
                                <div class="filterBlock__redMark"></div>
                                <p class="filterBlock__title">Artist Grade Colored Pencils</p>
                            </a>
                        </li>
                        <li class="filterBlock__item">
                            <a href="#colored-pencils-kids-and-classroom" class="filterBlock__item--link">
                                <div class="filterBlock__redMark"></div>
                                <p class="filterBlock__title">Colored Pencils - Kids and Classroom</p>
                            </a>
                        </li>
                        <li class="filterBlock__item">
                            <a href="#non-photo-pencils" class="filterBlock__item--link">
                                <div class="filterBlock__redMark"></div>
                                <p class="filterBlock__title">Non Photo Pencils</p>
                            </a>
                        </li>
                        <li class="filterBlock__item">
                            <a href="#oil-colored-pencils" class="filterBlock__item--link">
                                <div class="filterBlock__redMark"></div>
                                <p class="filterBlock__title">Oil Colored Pencils</p>
                            </a>
                        </li>
                        <li class="filterBlock__item">
                            <a href="#student-grade-colored-pencils" class="filterBlock__item--link">
                                <div class="filterBlock__redMark"></div>
                                <p class="filterBlock__title">Student Grade Colored Pencils</p>
                            </a>
                        </li>

                        <li class="filterBlock__item">
                            <a class="filterBlock__link" href="javascript:void(0)">+ More</a>
                        </li>
                    </div>
                </ul>
                <div class="adblock">
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                </div>
            </div>

            <div class="subCategories__body-mainArea">
                <div class="subCategories__products-holder" data-display="grid">
                    <div class="productCarousel__products-category" id="artist-grade-colored-pencils">
                        <div class="productCarousel__products-category--title">
                            Artist Grade Colored Pencils
                            <div class="productCarousel__products-info-icon">
                                <i aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Guides">
                                                <circle fill="#a2a9ad" cx="7.5" cy="7.5" r="7.5"/>
                                                <path fill="#fff" d="M6.25,9.88l.61-3.12H5.92l.23-1.14H8.6L7.8,9.76a2.11,2.11,0,0,0,0,.37c0,.37.2.49.52.49a1.5,1.5,0,0,0,.26,0l-.22,1.14a4.87,4.87,0,0,1-.54,0c-.73,0-1.6-.1-1.6-1.27A3.31,3.31,0,0,1,6.25,9.88Zm1.3-6.66H9.08L8.82,4.58H7.28Z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </i>
                                <div class="productCarousel__products-info">
                                    <p>
                                        Water Soluble Graphic Pencils use a binder that dissolves allowing additional avenues for expression, whereas conventional graphite pencils us an insoluble ceramic binder.
                                    </p>
                                    <button type="button" name="button" class="productCarousel__products-info-close"></button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <ul class="productCarousel__products clearfix">
                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>
                    </ul>

                    <div class="productCarousel__products-category" id="colored-pencils-kids-and-classroom">
                        <div class="productCarousel__products-category--title">
                            Colored Pencils - Kids and Classroom
                            <div class="productCarousel__products-info-icon">
                                <i aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Guides">
                                                <circle fill="#a2a9ad" cx="7.5" cy="7.5" r="7.5"/>
                                                <path fill="#fff" d="M6.25,9.88l.61-3.12H5.92l.23-1.14H8.6L7.8,9.76a2.11,2.11,0,0,0,0,.37c0,.37.2.49.52.49a1.5,1.5,0,0,0,.26,0l-.22,1.14a4.87,4.87,0,0,1-.54,0c-.73,0-1.6-.1-1.6-1.27A3.31,3.31,0,0,1,6.25,9.88Zm1.3-6.66H9.08L8.82,4.58H7.28Z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </i>
                                <div class="productCarousel__products-info">
                                    <p>
                                        Water Soluble Graphic Pencils use a binder that dissolves allowing additional avenues for expression, whereas conventional graphite pencils us an insoluble ceramic binder.
                                    </p>
                                    <button type="button" name="button" class="productCarousel__products-info-close"></button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <ul class="productCarousel__products clearfix">
                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item productCarousel__products-item--ad">
                            <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>

                        <li class="productCarousel__products-item">
                            <a href="#" class="productCarousel__products-link">
                                <article class="productCarousel__product">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads Series Drawing Pads Series Drawing Pads</p>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>

                                <article class="productCarousel__product productCarousel__product-list-hover">
                                    <figure class="productCarousel__product-image">
                                        <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                                    </figure>
                                    <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>
                                    <p class="productCarousel__product-title">Strathmore 400 Series Drawing Pads </p>
                                    <ul class="productCarousel__product-rating" data-rating="3">
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                        <li class="productCarousel__product-rating-star"></li>
                                    </ul>
                                    <div class="productCarousel__product-reviews-number">
                                        <p class="productCarousel__product-reviews">
                                            (13 Reviews)
                                        </p>
                                        <p class="productCarousel__product-number">
                                            Item #: 20459
                                        </p>
                                    </div>
                                    <div class="productCarousel__product-description">
                                        <p>This fine pencil has a unique formula combining lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad veniam.</p>
                                        <button class="button button-red productCarousel__product-button">Shop Now</button>
                                    </div>
                                </article>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="subCategories__body-rightArea">
                <div class="adblock">
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                    <div class="adblock__ad"><p>Brand MRM Ad</p></div>
                </div>
            </div>
        </div>
        <div class="subCategories__footer">

        </div>
    </div>
</section>
