.footerLinks{
    @extend %clearfix;
    border-bottom: 1px solid #3F4044;

    &__column{
        float:left;
        margin-right: 134px;

        &:last-child{
            margin-right: 0px;
        }

        &-heading{
            @include fontFamily(gotham, bold);
            @include fontSize(14);
            color: is('white');
            text-transform:uppercase;
        }
    }

    &__menu{
        margin-top: 12px;
        list-style: none;

        &-item > a{
            color: is('gray');
        }

        &-link{
            @include fontFamily(gotham, book);
            @include fontSize(13, 25.6);
            @include transition(color);
            display: block;

            &:hover{
                color: is('white');
                text-decoration: none;
            }

            &:focus{
                color: is('red');
                text-decoration: underline !important;
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(tablet-landscape){
        .footerLinks{
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 0px !important;

            &__column{
                float: none;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-right: 0px;

                &:not(:first-child){
                    border-top: 1px solid #3f4044;
                }

                &:last-child{
                    border-bottom: 1px solid #3f4044;
                }

                &-heading{
                    position: relative;
                    cursor: pointer;

                    &:before,
                    &:after{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 10px;
                        height: 2px;
                        background-color: #e5e9ea;
                    }

                    &:after{
                        @include transition;
                        @include prefixes('transform', 'rotate(90deg)');
                    }

                    &.footerLinks__column-menu--is-open{
                        &:after{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

//────────────────────────────────────────────────────┘